<div class="main">
  <form class="save-customer-form">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Customer id</mat-label>
            <input type="text" matInput>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Customer name</mat-label>
            <input type="text" matInput>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Customer address</mat-label>
            <input type="text" matInput>
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Customer salary</mat-label>
            <input type="number" matInput>
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <button mat-raised-button color="primary">Update Customer</button>
        </div>
      </div>
    </div>
  </form>

</div>

